// font settings:
$fontFace: ./FantasqueSansMono-Bold.ttf;
$fontHoverStyle: italic;
$fontWeight: 600;
$fontH1Size: 2.2em;
$fontH2Size: 1.2em;
$fontLiFCSize: 1.5em;
$fontASize: 1.1em;

// color settings:
$themeFg: #E5C07B;
$themeFgAlt: #E06C75;
$themeAccent: #61AFEF;
$themeHover: #56B6C2;
$themeBg: #282C34;
